{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron">
        <h2>We are sorry :(</h2>
        <p>It seems you have found a broken link ...</p>
    </div>
    {% with errors = get_flashed_messages(category_filter=[error])  %}
        {% if errors %}
            {% for message in errors  %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-toggle="alert" aria-label="Closed">
                    </button>
                    {{ message }}
                </div>
            {% endfor %}

        {% endif %}
    {% endwith %}
{% endblock %}